* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: gray;
}

h1, p {
    margin-bottom: 0;
}
body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.background_image {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../img/bkg.jpg");
    background-size: 40%;
    z-index: -999;
}
 

.container {
    font-size: 2rem;
    padding: 0;
    height: 100vh;
    max-width: 80%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    opacity: 0.95;
}
.container, .title, .submit {
    width: 100%;
}

.title, .list {
    transition: ease-in-out;
    transition-duration: 0.5s;
    margin: 0;
    
    border: 1px solid green;
}
.title {
    text-align: center;
    padding:1%;
    background-color: #cafc03;
    font-size: 1rem;
}

.title > .reset_link {
    font-size: 0.5rem;
}

.title h1 {
    font-weight: bold;
}
#contador2 {
    display: none;
}

#reset_link {
    text-decoration: none;
    border-radius: 5px;
    color: red;
    font-weight: bold;
    transition-duration: 0.5s;
    width: fit-content;
}
#reset_link:hover {
    text-decoration: none;
    background-color: red;
    color: aliceblue;
}


.list {
    display: flex;
    align-items: center;
    flex-flow: column wrap;
    height: 50%;
    width: 100%;
    padding: 0 0 0.5% 0;
    overflow: hidden;
}
.list_ul {
    list-style-type: circle;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 90%;
}

#sortear {
    text-align: center;
    height: 10%;
    width: 99%;
    background-color:  rgb(255, 255, 189);
    border: 1px solid green;
    font-weight: bold;
}

#TARGET {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    height: 100%;
    gap: 8px 45px;
}

.ingreso {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    column-gap: 1.5%;
    width: 100%;
    height: 5%;
}

.item {
    border-radius: 5px;
}
.item:hover {
    cursor: pointer;
    background-color: darkseagreen;
}
.item:active {
    cursor: pointer;
    background-color: rgb(255, 108, 108);
}

.new_item {
    animation: aparecer 200ms 1;
}

@keyframes aparecer {
    0% {
        transform: scale(0)
    }
    80% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

#bye_item {
    animation: desaparecer 200ms 1;
    background-color: red;
}

@keyframes desaparecer {
    0% {
        transform: scale(1)
    }
    20% {
        transform: scale(1.1);
    }
    to {
        transform: scale(0);
    }
}


.submit:hover {
    border: 3px solid gainsboro;
}
.submit:active {
    border: 3px solid red;
}



.inputs {
    display: flex;
    width: 40%;
    height: 100%;
    text-align: center;
    background-color: rgb(255, 255, 189);
    border: 3px solid beige;
    transition: 1s;
    border-radius: 5px;
    opacity: 0.95;
}

.submit {
    display: flex;
    font-size: 1.5em;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    border-radius: 50%;
    width: 3rem; height: 3rem;
}


.bt1 {
    order: 1;
}
.bt2 {
    display: none;
    order: 3;
}

.input_apellido {
    order: 2;
}



.submit, .item:hover {
    animation: agrandar 2s ease-in-out infinite;
    transition-duration: 0.25s;
}

.inputs:focus {
    animation: opacar 1.25s ease-in-out infinite;
    transition-duration: 0.25s;
}

@keyframes opacar {
    0% {
        opacity: 0.9;
    }
    20% {
        opacity: 1;
        background-color: greenyellow;
    }
    80% {
        opacity: 1;
        background-color: greenyellow;
    }
    100% {
        opacity: 0.9;
    }
}

@keyframes agrandar {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.15); 
    }
    100% {
        transform: scale(1);
    }
}

#lotteryScreen {
    background-color: blanchedalmond;
}

.sortear {
    border: 3px solid #cafc03;
    border-radius: 3%;
    height: 90%;
    /*overflow: hidden;*/
}

.lotteryTitle {
    display: flex;
    padding: 0;
    height: 10%;
    background-color: white;
    border-bottom: 2px solid #cafc03;
}
.lotterySection {
    display: flex;
    height: 90%;
}


.backButton {
    height: 100%;
    width: 10%;
    padding: 0;
    background-color: wheat;
}

.lotteryTitle > h2 {
    height: 100%;
    display: flex;
    align-items: center;
    width: 90%;
    padding-left: 35%;
    margin-bottom: 0;
}



.participants, .configLottery {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
    padding: 1%;
    height: 100%;
    width: 50%;
    /*overflow: hidden;*/
}
.participants > h4, .configLottery > h4 {
    text-align: center;
    height: 7%;
    margin-bottom: 0;
}

#participants-list {
    margin-bottom: 0;
    padding: 2% 1%;
    height: 93%;
    width: 100%;
    display: flex;
    text-align: center;
    flex-flow: column wrap;
    list-style-type: none;
    font-size: 1.15rem;
    max-width: fit-content;
}

.participants-List * {
    cursor: pointer;
}

li::marker {
    font-size: 0.75rem;
}

.config-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1%;
    height: 8%;
    width: 100%;
}

.config-section * {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    width: 20%;
    height: 60%;
}

.input-winners {
    width: 10%;
    margin-right: 8%;
    text-align: center;
}

.winners {
    width: 100%;
    height: 75%;
}

.reset-lottery {
    height: 10%;
    width: 100%;
}

.winners > ol {
    overflow: hidden;
    padding: 2.5% 1%;
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    text-align: center;
    justify-content: space-evenly;
}

#winnerList > * {
    border-radius: 15px;
}


@keyframes rainbowCOLOR {
    100%,0%{
        color: rgb(255,0,0);
    }
    8%{
        color: rgb(255,127,0);
    }
    16%{
        color: rgb(255,255,0);
    }
    25%{
        color: rgb(127,255,0);
    }
    33%{
        color: rgb(0,255,0);
    }
    41%{
        color: rgb(0,255,127);
    }
    50%{
        color: rgb(0,255,255);
    }
    58%{
        color: rgb(0,127,255);
    }
    66%{
        color: rgb(0,0,255);
    }
    75%{
        color: rgb(127,0,255);
    }
    83%{
        color: rgb(255,0,255);
    }
    91%{
        color: rgb(255,0,127);
    }
}

@keyframes rainbowBKG{
    100%,0%{
        background-color: rgb(255,0,0);
    }
    8%{
        background-color: rgb(255,127,0);
    }
    16%{
        background-color: rgb(255,255,0);
    }
    25%{
        background-color: rgb(127,255,0);
    }
    33%{
        background-color: rgb(0,255,0);
    }
    41%{
        background-color: rgb(0,255,127);
    }
    50%{
        background-color: rgb(0,255,255);
    }
    58%{
        background-color: rgb(0,127,255);
    }
    66%{
        background-color: rgb(0,0,255);
    }
    75%{
        background-color: rgb(127,0,255);
    }
    83%{
        background-color: rgb(255,0,255);
    }
    91%{
        background-color: rgb(255,0,127);
    }
}


.w1 {
    font-size: 2.75rem;
    font-weight: bold;
    animation: agrandar 2s infinite ease-in-out;
}
.w2 {
    font-size: 2.65rem;
}
.w3 {
    font-size: 2.5rem;
}
.w4, .w5, .w6, .w7, .w8, .w9, .w10 {
    font-size: 1.8rem;
}


.hide {
    display: none;
}

.switch_in {
    animation: 1s aparecer 1;
}
.switch_out {
    animation: 1s desaparecer ease-in 1;
}


@media screen and (max-width: 1024px) {
    .container {
        height: 100%;
        max-width: 95%;
        align-items: center;
    }
    
    .background_image {
        background-size: 35%;
    }

    .title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 10%;

        height: 10%;
        width: 100%;
    }
    .title * {
        display:flex;
        height: 100%;
        align-items: center;
        gap: 3%;
    }
    .title h1 {
        font-size: 2.5rem;
        font-weight: bold;
    }

    .info {
        display: none;
    }
    #TARGET {
        justify-content: center;
    }
    .list {
        height: 50%;
    }

    .ingreso {
        height: 10%;
    }

    .inputs {
        font-size: 1.25rem;
        width: 40%;
    }

    .submit {
        font-size: 1.3rem;
    }
    .bt1 {
        display: flex;
        width: 5rem; height: 5rem;
    }

}

@media screen and (max-width: 800px) and (orientation:portrait){

    .container {
        height: 100%;
        max-width: 90%;
        align-items: center;
    }
    
    .background_image {
        background-size: 100%;
    }
    .title a {
        display: flex;
        align-items: center;
        font-size: 1rem;
    }
    .title {
        height: fit-content;
        width: 100%;
        padding: 0.5%;
        border-radius: 50px;
    }
    .title h1 {
        font-size: 2rem;
        font-weight: bold;
    }
    .title p {
        font-size: 1.5rem;
    }

    .list {
        height: 70%;
        border-radius: 50px;
    }
    #TARGET {
        font-size: 1.8rem;
        justify-content: center;
    }
    .ingreso {
        height: 5%;
    }

    .inputs {
        font-size: 1.6rem;
        width: 40%;
        border-radius: 50px;
    }

    .submit {
        font-size: 2.5rem;
        font-weight: bold;

    }
    .bt1 {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 0 0;
    }

}

@media screen and (max-width:680px) {


    .background_image {
        background-size: 200%;
    }
    .title {
        padding: 2%;
        justify-content: space-between;
    }
    .title > p {
        padding: 1%;
        justify-content: space-around;
    }
    .title > p * {
        display: none;
    }

    #contador, #reset_link {
        display: flex;
        padding: 0;
        align-self: flex-end;
        text-align: center;
        padding: 0;
    }
    #contador {
        text-align: start;
        color: green;
    }
    #reset_link {
        width: 45%;
        font-size: x-large;
    }

    .list {
        max-height: 60%;
        padding: 1% 2%;
    }

    #TARGET {
        justify-content: center;
    }

    .ingreso {
        display: flex;
        width: 100%;
        height: 15%;
        flex-flow: row wrap;
    }

    .ingreso * {
        font-size: 1em;
        display: block;
        width: 100%;
        height: 30%;
    }
    .bt1 {
        display: none;
    }
    .bt2 {
        display: flex;
        font-weight: normal;
        margin-top: 3%;
        width: 60%;
        border-radius: 55px;
    }
}

@media screen and (max-width:480px) and (orientation: portrait) {
    * {
        font-size: small;
    }
    #reset_link {
        font-size: smaller;
    }
    #bt1 {
        height: 1rem;
        width:  1rem;
    }
}