body {
    display: flex;
    flex-flow: column wrap;
    background-image: url(/img/obelisco.jpg);
    background-size: 500px;
    background-repeat: repeat;
}

.container {
    height: 100vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    width: 50%;
    max-width: 45%;
    opacity: 0.95;
}

.title, .list {
    margin-bottom: 0;
}
.title {
    text-align: center;
    padding:1%;
}
.reset_link {
    text-decoration: none;
    border-radius: 5px;
    color: red;
    font-weight: bold;
    transition-duration: 0.5s;
}
.reset_link:hover {
    text-decoration: none;
    background-color: red;
    color: aliceblue;
}


.list {
    max-height: 55%;
    padding: 0;
}
.list_ol {
    padding: 0;
    width: 100%;
    height: 100%;
    margin: 0;
}
#TARGET {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    min-width: auto;
    gap: 8px 45px;
    max-height: 225px;
}
.ingreso {
    display: flex;
    flex-flow: row wrap;
    column-gap: 1%;
    justify-content: center;
    align-items: center;
    max-height: 10%;
}


.submit:hover {
    border: 3px solid gainsboro;
}
.submit:active {
    border: 3px solid red;
}


.item {
    border-radius: 5px;
}
.item:hover {
    cursor: pointer;
    background-color: darkseagreen;
}
.item:active {
    cursor: pointer;
    background-color: rgb(255, 108, 108);
}



.inputs {
    text-align: center;
    background-color: rgb(255, 255, 189);
    border: 3px solid beige;
    transition: 1s;
    border-radius: 5px;
    opacity: 0.95;
}

.submit {
    text-align: center;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    border-radius: 50%;
    width: 45px; height: 45px;
}


.bt1 {
    display: flex;
    font-size: 1.5em;
}
.bt2 {
    display: none;
}


.submit, .item:hover {
    animation: agrandar;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    transition-duration: 0.25s;
}

.inputs:focus {
    animation: opacar;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transition-duration: 0.25s;
}

@keyframes opacar {
    0% {
        opacity: 0.9;
    }
    20% {
        opacity: 1;
        background-color: greenyellow;
    }
    80% {
        opacity: 1;
        background-color: greenyellow;
    }
    100% {
        opacity: 0.9;
    }
}

@keyframes agrandar {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.15); 
    }
    100% {
        transform: scale(1);
    }
}

@media screen and (max-width: 1024px) {
    body{
        height: 100vh;
    }
    .container {
        height: 100vh;
        width: 90%;
        max-width: 90%;
        align-items: center;
    }
    .title {
        width: 100%;
    }


    #TARGET {
        height: 100%;
    }
    .ingreso {
        row-gap: 10px
    }
    .inputs {
        width: 52.5vh;
    }
    .bt1 {
        display: none;
    }
    .bt2 {
        display: flex;
        justify-content: center;
        border-radius: 5px;
        min-width: 60%;
        bottom: -10px;
    }
    .list {
        max-height: 30%;
        padding: 1% 2%;
        width: 100%;
    }
}