* {
    margin: 0;
    padding: 0;
}

h1, p {
    margin-bottom: 0;
}
body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.background_image {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../img/bkg.jpg");
    background-size: 35%;
    z-index: -999;
}
 

.container {
    font-size: 3rem;
    padding: 0;
    height: 100vh;
    max-width: 80%;

    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    opacity: 0.95;
}
.container, .title, .submit {
    width: 100%;
}

.title, .list {
    transition: ease-in-out;
    transition-duration: 0.5s;
    margin: 0;
}
.title {
    text-align: center;
    padding:1%;
}
.title h1 {
    font-size: 5rem;
    font-weight: bold;
}
.reset_link {
    text-decoration: none;
    border-radius: 5px;
    color: red;
    font-weight: bold;
    transition-duration: 0.5s;
}
.reset_link:hover {
    text-decoration: none;
    background-color: red;
    color: aliceblue;
}


.list {
    height: 60%;
    width: 100%;
    padding: 0;
}
.list_ul {
    list-style-type: circle;
    justify-content: flex-start;
    padding: 0;
    width: 100%;
    height: 100%;
}

#TARGET {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    height: 100%;
    gap: 8px 45px;
}

.ingreso {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    column-gap: 1.5%;
    width: 100%;
    height: 5%;
}




.submit:hover {
    border: 3px solid gainsboro;
}
.submit:active {
    border: 3px solid red;
}


.item {
    border-radius: 5px;
}
.item:hover {
    cursor: pointer;
    background-color: darkseagreen;
}
.item:active {
    cursor: pointer;
    background-color: rgb(255, 108, 108);
}



.inputs {
    display: flex;
    width: 40%;
    height: 100%;
    text-align: center;
    background-color: rgb(255, 255, 189);
    border: 3px solid beige;
    transition: 1s;
    border-radius: 5px;
    opacity: 0.95;
}

.submit {
    display: flex;
    font-size: 1.5em;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    border-radius: 50%;
    width: 8rem; height: 8rem;
}


.input_nombre {
    order: 0;
}

.bt1 {
    order: 1;
}
.bt2 {
    display: none;
    order: 3;
}

.input_apellido {
    order: 2;
}



.submit, .item:hover {
    animation: agrandar;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    transition-duration: 0.25s;
}

.inputs:focus {
    animation: opacar;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transition-duration: 0.25s;
}

@keyframes opacar {
    0% {
        opacity: 0.9;
    }
    20% {
        opacity: 1;
        background-color: greenyellow;
    }
    80% {
        opacity: 1;
        background-color: greenyellow;
    }
    100% {
        opacity: 0.9;
    }
}

@keyframes agrandar {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.15); 
    }
    100% {
        transform: scale(1);
    }
}

@media screen and (max-width: 1024px) and (orientation:portrait){
    body {
        overflow: hidden;
    }
    .container {
        height: 100%;
        max-width: 90%;
        align-items: center;
    }
    
    .background_image {
        background-size: 100%;
    }

    .title {
        height: fit-content;
        width: 100%;
        padding: 0.5%;
        border-radius: 50px;
    }
    .title h1 {
        font-size: 2rem;
        font-weight: bold;
    }
    .title p {
        font-size: 1.5rem;
    }

    .list {
        height: 70%;
        border-radius: 50px;
    }
    #TARGET {
        font-size: 1.8rem;
        justify-content: center;
    }
    .ingreso {
        height: 5%;
    }

    .inputs {
        font-size: 1.6rem;
        width: 40%;
        border-radius: 50px;
    }

    .submit {
        font-size: 2.5rem;
        font-weight: bold;
        height: 80px; width: 80px;

    }
    .bt1 {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 0 0;
    }

}

@media screen and (max-width:550px) and (orientation: portrait) {
    * {
        font-size: 1.1rem ;
    }
    body {
        overflow: hidden;
    }

    .background_image {
        background-size: 200%;
    }

    .list {
        max-height: 80%;
        padding: 1% 2%;
    }
    #TARGET {
        justify-content: center;
    }

    .ingreso {
        display: flex;
        width: 100%;
        height: 15%;
        flex-flow: row wrap;
    }

    .ingreso * {
        display: block;
        width: 100%;
        height: 33%;
    }
    .bt1 {
        display: none;
    }
    .bt2 {
        display: flex;
        border-radius: 55px;
    }
}


@media screen and (max-width: 1024px) and (orientation:landscape){
    body {
        overflow: hidden;
    }
    .container {
        height: 100%;
        max-width: 95%;
        align-items: center;
    }
    
    .background_image {
        background-size: 35%;
    }

    .title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 10%;

        height: 10%;
        width: 100%;
    }
    .title * {
        height: 100%;
    }
    .title h1 {
        font-size: 1.25rem;
        font-weight: bold;
    }

    .info {
        display: none;
    }
    #TARGET {
        justify-content: center;
    }
    .list {
        height: 50%;
    }

    .ingreso {
        height: 10%;
    }

    .inputs {
        font-size: 1.25rem;
        width: 40%;
    }

    .submit {
        font-size: 1.3rem;
    }
    .bt1 {
        display: flex;;
    }

}